@model Rystem.Web.Backoffice.NavigationBar
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas @Model.FontAwesomeIconClass"></i>
        </div>
        <div class="sidebar-brand-text mx-3">@Model.WhiteLabel</div>
    </a>
    <hr class="sidebar-divider my-0">
    @foreach (var superGroup in Model.SuperGroups.Where(x => x.IsVisible()))
    {
        if (!string.IsNullOrWhiteSpace(superGroup.Title))
        {
            <div class="sidebar-heading">
                @superGroup.Title
            </div>
        }
        @foreach (var group in superGroup.Groups.Where(x => x.IsVisible()))
        {
            <li class="nav-item">
                @if (group.Url != null)
                {
                    <a class="nav-link" asp-area="@group.Url.Area" asp-controller="@group.Url.Controller" asp-action="@group.Url.Action">
                        <i class="fas fa-fw @group.FontAwesomeIconClass"></i>
                        <span>@group.Title</span>
                    </a>
                }
                else
                {
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#@group.Id" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw @group.FontAwesomeIconClass"></i>
                        <span>@group.Title</span>
                    </a>
                    @if (group.Items.Count > 0)
                    {
                        <div id="@group.Id" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                @foreach (var item in group.Items.Where(x => x.IsVisible()))
                                {
                                    <a class="collapse-item" asp-area="@item.Url.Area" asp-controller="@item.Url.Controller" asp-action="@item.Url.Action">@item.Title</a>
                                }
                            </div>
                        </div>
                    }
                }
            </li>
        }
        @if (!superGroup.Last)
        {
            <hr class="sidebar-divider" />
        }
    }
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>